* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 250px;
    min-height: 100vh;
    background-color: white;
    padding: 24px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar-footer {
    margin-top: auto;
}

.conteudo {
    flex: 1;
    background-color: #f5f5f9;
}